<% provide :title, t("app.views.static.help.title") %>
<h1><%= t("app.views.static.help.content") %></h1>
<p>
  <%= t "app.views.static.help.help_html" %>
  <%= t "app.views.static.help.book_html" %>
</p>
